<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # title, description, etc... %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
