{% comment %} 
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/article 
{% endcomment %}

<h1>article template</h1>