{% comment %} 
  This section is used in the blog template to render the blog page listing all
  articles within a blog.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/blog 
{% endcomment %}

<h1>blog template</h1>