{% comment %} 
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart 
{% endcomment %}

<h1>cart template</h1>

