{% comment %} 
  This section is used in the list-collections template to render a list of
  collections.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection 
{% endcomment %}

<h1>collections template</h1>