{% comment %} 
  This section is used in the 'customers/account' template to render the customer's account page
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-account
{% endcomment %}
 
<h1>customer account template</h1>