{% comment %} 
  This section is used in the 'customers/register' template to render the customer's register page, 
  which hosts the form for customer account creation.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-register
{% endcomment %}

<h1>customer main register template</h1>