{% comment %} 
  This section is used in the 'customers/login' template to render the customer's login page, 
  which hosts the form for logging into a customer account.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-login
{% endcomment %}

<h1>customer main login template</h1>