{% comment %} 
  This section is used in the 'customers/reset_password' template to render the password reset page, 
  which hosts the form to reset the password for a customer account.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-reset-password
{% endcomment %}

<h1>customer main reset password template</h1>