{% comment %} 
  This section is used in the 'customers/activate_account' template to render the customer's account activation page, 
  which hosts the form for activating a customer account.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-activate-account
{% endcomment %}

<h1>customer activate account template</h1>