{% comment %} 
  This section is used in the 'customers/addresses' template to render the customer's addresses page, which allows customers 
  to view and manage their current addresses, as well as add new ones.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-addresses
{% endcomment %}

<h1>customer main addresses template</h1>