{% comment %} 
  This section is used in the 'customers/order' template to render the customer's order page, 
  which displays the details of a customer’s past orders.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-order
{% endcomment %}

<h1>customer main order template</h1>