{% comment %} 
    This section is used in the product template to render product page with
    media, content, and add-to-cart form.
   
    https://shopify.dev/docs/storefronts/themes/architecture/templates/product 
{% endcomment %}

<h1>product template</h1>