{% comment %} 
  This section is used in the search template to render search results for
  products, articles, and pages.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/search 
{% endcomment %}

<h1>search template</h1>