{% comment %} 
  This template renders the gift card page, which displays the gift card issued to a customer upon purchase.
 
  https://shopify.dev/docs/storefronts/themes/architecture/templates/gift-card-liquid
{% endcomment %}

<h1>gift card template</h1>